@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: #b280b3;
}

.wrapper {
  width: 25rem;
  border-radius: 0.4375rem;
  background: white;
}

.wrapper header {
  color: #b280b3;
  font-size: 1.3125rem;
  font-weight: 500;
  padding: 1rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 0.0625rem solid lightgray;
}

.wrapper header i {
  cursor: pointer;
  font-size: 1.875rem;
  margin-right: 0.5rem;
}

.wrapper .user-input {
  display: none;
  margin: 1.25rem 1.5625rem 1.875rem;
}

.wrapper .user-input .info-txt {
  display: none;
  font-size: 1.0625rem;
  text-align: center;
  padding: 0.75rem 0.625rem;
  border-radius: 0.4375rem;
  margin-bottom: 0.9375rem;
}

.wrapper .user-input .error {
  display: block;
  color: #9b1a03;
  background: #ffbeb3;
  border: 0.0625rem solid #ffd4cc;
}

.wrapper .user-input .pending {
  display: block;
  color: #0e2b7c;
  background: #ccd5ff;
  border: 0.0625rem solid #dddbff;
}

.wrapper .user-input :where(input, button) {
  width: 100%;
  height: 3.4375rem;
  border: none;
  outline: none;
  font-size: 1.125rem;
  border-radius: 0.4375rem;
}

.wrapper .user-input input {
  text-align: center;
  border: 0.0625rem solid lightgray;
}

.wrapper .user-input input:is(:focus, :valid) {
  border: 2px solid #24baff;
}

.wrapper .user-input .seperator {
  height: 0.0625rem;
  width: 100%;
  margin: 1.5625rem 0;
  background: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .user-input .seperator::before {
  content: "or";
  color: #ccc;
  font-size: 1.1875rem;
  padding: 0 0.9375rem;
  background: white;
}

.wrapper .user-input button {
  color: white;
  cursor: pointer;
  background: #b280b3;
}

.wrapper .weather-part {
  margin: 1.875rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .weather-part img {
  max-width: 7.8125rem;
}

.wrapper .weather-part .temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4.5rem;
  font-weight: 500;
}

.wrapper .weather-part .temp .number {
  font-weight: 600;
}

.wrapper .weather-part .temp .degree {
  font-size: 2.5rem;
  margin: 0.625rem 0.3125rem 0 0;
  display: block;
}

.wrapper .weather-part .weather {
  font-size: 1.3125rem;
  text-align: center;
  margin: -0.3125rem 1.25rem 0.9375rem;
}

.wrapper .weather-part .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.wrapper .weather-part i {
  font-size: 1.375rem;
  margin-right: 0.3125rem;
}

.wrapper .weather-part .bottom-details {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.0625rem solid #bfbfbf;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .weather-part .bottom-details .column {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.9375rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .weather-part .bottom-details .column i {
  color: #b280b3;
  font-size: 2.5rem;
}

.wrapper .weather-part .bottom-details .humidity {
  border-left: 0.0625rem solid #bfbfbf;
}

.wrapper .weather-part .bottom-details .details .temp, .wrapper .weather-part .bottom-details .details .humidity span {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: 0.1875rem;
}

.wrapper .weather-part .bottom-details .details .temp .degree {
  margin: 0;
  font-size: 1.0625rem;
  pad: 0 0.125rem 0 0.0625rem;
}

.wrapper .weather-part .bottom-details .details p {
  font-size: 0.875rem;
  margin-top: -0.375rem;
}
/*# sourceMappingURL=styles.css.map */